* {
	margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 12pt;
	margin: 0 auto;
}

body {
    background-color: #333333;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: left;
    line-height: 1;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.oracle-mode body {
    background-color: rgba(255, 255, 255, 1.000);
}

pre {
    line-height: 1.25;
}

/*-----------Fonts----------------*/
@font-face {
	font-family: 'DroidSansBoxDrawing';
	src: url('Fonts/DroidSansBoxDrawing.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*---------- Containers ----------*/
.ModernScreen {
}

.ModernLayout {
}

.ModernStatus {
    display: none;
}

div.ModernSpan {
    display: block;
    margin-top: 0.125rem;
}

.ModernSpan .component-element {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
}

.ModernSpan .component-element:last-child {
    /* last element in a span should not have a right margin */
    margin-right: 0;
}

.ModernTable .component-element {
    display: block;
}

/*---------- Table ----------*/

table.ModernTable {
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: 0.25rem;
}

table.ModernTable td {
    overflow: hidden;
    vertical-align:middle;
}

.console-mode table.ModernTable td {
    border: 2px ridge #a8a8a8;
}

div.ModernEmpty {
    min-height: 1.5em;
}

/*---------- Components ----------*/

.ModernDataLabel {
    color: #aaaaaa;
    word-wrap: break-word;
}

.oracle-mode .ModernDataLabel {
    font-family: sans-serif;
    font-size: 12pt;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: rgba(110, 110, 110, 1.000);
    background-color: rgba(0, 0, 0, 0);
}

.ModernDataValue {
    color: #fafafa;
    word-wrap: break-word;
    font-size: 16pt;
}

.oracle-mode .ModernDataValue {
    font-family: sans-serif;
    font-size: 16pt;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: rgba(166, 171, 176, 1.000);
    background-color: rgba(0, 0, 0, 0);
}

.oracle-mode .ModernInputField {
    font-family: monospace;
    font-size: 18pt;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(243, 243, 243, 1);
}

table.ModernBanner {
	border-collapse: collapse;
}

.ModernBanner {
    height: 60px;
	width: 100%;
    margin-bottom: 20px;
    background-color: #D8D8D8;
}

.oracle-mode .ModernBanner {
    font-family: sans-serif;
    font-size: 20pt;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: rgba(255, 255, 255, 1.000);
    background-color: rgba(214, 27, 29, 1.000);
}

.LogoContainer {
	width: 100px;
    height: 60px;
}

.LogoImage {
	width: 100px;
    height: 60px;
}

.TitleContainer {
    font-size: 20pt;
    height: 60px;
    background-color: #D8D8D8;
    color:#3c88c8;
    padding-left: 20px;
}

.BannerTitle {
    line-height: 60px;
    display: inline-block;
    vertical-align: middle;
    text-decoration: inherit;
}

.ModernTitle {
    color:#3c88c8;
    font-size:18pt;
    margin:.5rem 0;
    word-wrap: break-word;
    text-align: center;
}

.ModernImage {
    max-width: 100%;
}

.InsideImage {
    margin: 0;
    max-width: 100%;
}

.ButtonImage {
    padding-top: 0.75rem;
}

.oracle-mode .ModernTitle {
    font-family: sans-serif;
    font-size: 18pt;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: rgba(0, 0, 0, 1.000);
    background-color: rgba(255, 255, 255, 1.000);
}

.ModernScreenContent {
    margin: 0.5rem;
}

.ModernFooter {
    position: fixed;
    padding: 0.5rem; /* padding here matches screen margin */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333333;
    /*user-drag: none;*/ 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.NativeMode {
    background: #000000;
    color: #FFFFFF;
	/* What do do with this font? */
    font-family: monospace, DroidSansBoxDrawing;
}

#cursor:focus {
    outline: none;
}

.DWide {
    position:absolute;
}

.char-dwide-single-line {
	position:absolute; 
	-webkit-transform: scaleX(2); 
	-moz-transform: scaleX(2); 
	transform-origin: left;
}

.char-dwide-dhigh { 
	font-size: 2em;
}

div.ModernScreenContent div.ModernDataLabel,
div.ModernScreenContent div.ModernDataValue,
div.ModernScreenContent div.TextBoxLookAlike,
div.ModernScreenContent div.ModernButtonDiv,
div.ModernScreenContent div.ModernImage {
    /* standard vertical margin items on the screen */
    margin-top: 0.25rem;
}

div.ModernSpan div.ModernDataLabel,
div.ModernSpan div.ModernDataValue,
div.ModernSpan div.TextBoxLookAlike,
div.ModernSpan div.ModernButtonDiv,
div.ModernSpan div.ModernImage {
    /* reduce the margin when in a span */
    margin-top: 0.125rem;
}


div.ModernScreenContent > div.ModernDataLabel + div.TextBoxLookAlike {
    /* reduce the margin when a text box follows a label */
    margin-top: 0.125rem;
}

div.ModernScreenContent > div.ModernDataLabel + div.ModernDataValue {
    /* remove the margin when a data value follows a value */
    margin-top: 0;
}

.TextBoxLookAlike {
    background: #f3f3f3;
    border: 2px solid grey;
    font-family: monospace;
    padding: 3px 1px;
    font-weight: normal;
    font-size: 18pt;
    min-height: 1em;
    color: #000000;
    overflow: scroll;
    max-width: 100%;
    white-space: nowrap;
}

.TextBoxLookAlike::-webkit-scrollbar {
    display: none;
}

.TextBoxLookAlike:focus{
  outline:none;
}

.ModernMenuItem {
    background-color:#f3f3f3;
    padding-right: 0.5rem;
    /* animate to the :active state below */
    transition: all 0.2s;
    color:black;
    font-size: 18pt;
    text-decoration:none;
    font-style:normal;
    font-weight:normal;
}

.oracle-mode .ModernMenuItem {
    font-family: sans-serif;
    font-size: 18pt;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: rgba(128, 128, 128, 1.000);
    background-color: rgba(255, 255, 255, 1.000);
}

.ModernMenuItem:active {
    /* show a menu item being pressed */
    padding-right: 0.25em;
    background-position: right 0.25rem center;
    -webkit-filter: brightness(90%) contrast(80%) grayscale(50%);
    filter: brightness(90%) contrast(80%) grayscale(50%);
}

input.ModernMenuButton {
	/*background-image: url(menuChevron.png);*/
    background-image: none;
    background-repeat: no-repeat;
    background-size: auto 1.5em;
    background-position: right center;
    background-color:transparent;
    cursor:pointer;
    color:inherit;
    border:none;
    padding: .8em .5rem;
    width: 100%;
    display: inline-block;
    text-decoration:inherit;
    font-style:inherit;
    font-weight:inherit;
    font-family:inherit;
	font-size: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-align: inherit;
}

/*  TE ASSETS */
.TextBoxLookAlike:focus{
  outline:none;
}

.ModernButtonDiv {
    /* All editable styles go here and are inherited in button.ModernButton */
    background-color: #ffffff;
    color: #005b8e;
    font-size: 14pt;
    font-style: normal;
    font-family: sans-serif;
    font-weight: normal;
    text-decoration: none;
    text-align: inherit;

    /* Border goes here not on button below */
    border-color: #005b8e;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    padding: 1px;
}

.oracle-mode .ModernButtonDiv {
    font-family: sans-serif;
    font-size: 16pt;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: rgba(255, 255, 255, 1.000);
    background-color: rgba(86, 154, 217, 1.000);
}

input.ModernButton {
    /* Inherited editable styles from the surrounding div */
    color: inherit;
    background-color: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-family: inherit;
    text-decoration: inherit;
    text-align: inherit;
    
    /* animate to the :active state below */
    transition: all 0.2s;
    border: none;
    padding: 0.75rem 1.5rem;
	/*     text-align: center; from NodeTestWeb public*/				   
    width: 100%;
    display: inline-block;
    white-space: normal;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.Modernbutton:focus {
	outline:0;
}

input.ModernButton:active {
    /* show a button being pressed */
    -webkit-filter: brightness(90%) contrast(80%) grayscale(50%);
    filter: brightness(90%) contrast(80%) grayscale(50%);
}

div.ModernButtonDiv:active {
    /* show a div being pressed */
    -webkit-filter: brightness(90%) contrast(80%) grayscale(50%);
    filter: brightness(90%) contrast(80%) grayscale(50%);
}

div.ModernScreenContent div.ModernMenuItem {
    margin-top: 0.5rem;
}

div.ModernScreenContent div.ModernMenuItem + div.ModernMenuItem {
    /* add a single line between consecutive menu items */
	margin-top: 1px;
}

div.component-selector > div.ModernMenuItem {
    /* have menus look centered when in a selector */
    margin: 0;
}

div.ModernScreenContent div.ModernMenuItem + div.ModernDataValue,
div.ModernScreenContent div.ModernMenuItem + div.ModernDataLabel,
div.ModernScreenContent div.ModernMenuItem + div.ModernSpan,
div.ModernScreenContent div.ModernMenuItem + div.ModernTable,
div.ModernScreenContent div.ModernMenuItem + div.TextBoxLookAlike,
div.ModernScreenContent div.ModernMenuItem + div.ModernImage {
    /* separate things from the menu */
    margin-top: 0.5rem
}

/* do not show button focus */
input.ModernMenuButton:focus {
    outline: 0;
}

div.ModernFooter > :first-child {
    margin-top: 0;
}

/*---------- Messages ----------*/

.ModernMessage {
	background-repeat: no-repeat;
	background-position: 18px center;
	margin: 23px auto;
	padding: 18px 18px 18px 84px;
	font-size: 12pt;
	color: #333333;
}

.ModernMessage.success {
	background-image: url("success.png");
	background-color: #dff0d9;
	border: 2px solid #bcd2aa;
}

.ModernMessage.warn {
	background-image: url("warn.png");
	background-color: #fcf8e4;
	border: 2px solid #e1d1b0;
}

.oracle-mode .ModernMessage.warn {
    font-family: sans-serif;
    font-size: 12pt;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: rgba(51, 51, 51, 1);
    background-color: rgba(252, 248, 228, 1)
}

.ModernMessage.error {
	background-image: url("stop.png");
	background-color: #f2dede;
	border: 2px solid #d0aeb5;
}

.oracle-mode .ModernMessage.error {
    font-family: sans-serif;
    font-size: 12pt;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: rgba(51, 51, 51, 1);
    background-color: rgba(242, 222, 222, 1)
}

.ModernMessage.info {
	background-image: url("info.png");
	background-color: #d9edf7;
	border: 2px solid #a5d5df;
}

.oracle-mode .ModernMessage.info {
    font-family: sans-serif;
    font-size: 12pt;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: rgba(51, 51, 51, 1);
    background-color: rgba(217, 237, 247, 1)
}

.MessageTitle {
	font-weight: bold;
	font-size: 16pt;
	margin-bottom: 4px;
}

.MessageTitle.success {
	color: #3a763b;
}

.MessageTitle.warn {
	color: #886d33;
}

.MessageTitle.error {
	color: #a84442;
}

.MessageTitle.info {
	color: #3771a5;
}

.MessageDescription {
}

/*---------- Selection ----------*/

.console-mode .component-selector {
    border: 2px ridge #33a1da;
    margin: 3px 3px 10px;
    padding: 10px;
}

.console-mode .component-selector:hover {
    border: 4px ridge #33a1da;
    padding: 8px;
}

.console-mode .component-selector.selected {
    border: 6px ridge #33a1da;
    padding: 6px;
}

.console-mode .component-border {
    border: 2px ridge #33a1da;
    margin: 3px 3px 10px;
    padding: 10px;
}

.console-mode .ModernFooter {
    border: 2px ridge #33a1da;
    min-height: 45px;
}

.oracle-mode .ModernFooter {
    background-color: #ffffff;
}

.ModernSpan .component-selector {
    /* make items centered in a span */
    display: inline-block;
    vertical-align: middle;
    border: 2px ridge transparent;
    max-width: 100%;
}

.ModernTable .component-selector {
    display: block;
    vertical-align: middle;
    border: 2px ridge transparent;
    max-width: 100%;
}

.oracle-mode .ModernTable { 
    font-family: sans-serif;
    font-size: 12pt;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: rgba(153, 153, 151, 1);
    background-color: rgba(255, 255, 255, 0.000);
}

/*---------- Sortable ----------*/

div.placeholder {
    display: inline-block;    
}

div.ModernScreenContent > div.placeholder {
    position:absolute;
    margin-top: -0.75em;
}

div.placeholder:before {
    /** Define arrowhead **/
    content: ">";
    color: #CC0000;
	font-weight: 900;
    display: inline-block;
}

/* Vertically align the place holder */
.ModernSpan div.placeholder {
    /* make the placeholder be centered in the span */
    display: inline-block;
    align-items: center;
    vertical-align: middle;
    margin-top: 0;
}

/*---------- Sortable ----------*/

.component-menu {
    float: right;
}

.component-menu-trigger {
	color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.component-menu-items {
    color: #333333;
    background-color: #f3f3f3;
    border-color: #cccccc;
    border-radius: 4px;
    padding: 5px 15px;
}

.component-menu-item {
	color: inherit;
    cursor: pointer;
    text-decoration: none;
    display: block;
    width: auto;
}

@media only screen and (min-width: 8in) {
    .TextBoxLookAlike, .ModernButton, .ModernButtonDiv, .ModernMenuItem, .ModernDataLabel, .ModernDataValue, .ModernSpan, .ModernBanner, .ModernTitle, .ModernTable, .ModernImage {
        max-width: 8in;
        margin-left: auto;
        margin-right: auto;
    }
	
	.ModernFooter {
        max-width: 8in;
        margin-left: auto;
        margin-right: auto;
		left: 50%;
		transform: translateX(-50%);
	}

    .Modernbutton:focus {
        max-width: 100%;
    }
}